<form action="/add" method="POST">
    <p>Título: </p>
    <input type="text" name="title">
    <p>Concluído: </p>
    <textarea name="content"></textarea>
    <button type="submit">Cadastrar postagem</button>
    
</form>